In [3]:
import pandas as pd
import numpy as np

#Day 1

## One-Dimensional Numpy

1. Numpy array of Patient Ages

In [4]:
ages = np.array([25, 30, 40, 22, 35, 50, 29, 60, 41, 28])
average_age = np.mean(ages)
print("Average Age:", average_age)

Average Age: 36.0

2. Numpy array of Cholesterol Levels

In [5]:
cholesterol = np.array([210, 180, 230, 250, 300, 220, 200, 190])
highest_cholesterol = np.max(cholesterol)
print("Highest Cholesterol Level:", highest_cholesterol)

Highest Cholesterol Level: 300

3. Numpy Array of Blood Pressure

In [6]:
bp_readings = np.array([120, 130, 140, 135, 125, 110, 145, 120, 130, 140, 150, 135])
bp_std_dev = np.std(bp_readings)
print("Standard Deviation of Blood Pressure:", bp_std_dev)

Standard Deviation of Blood Pressure: 11.055415967851333

4. Numpy Array of Body Temprature

In [7]:
temperatures = np.array([37.1, 36.5, 37.3, 36.8, 37.0, 38.0, 36.7, 37.2, 36.9, 37.5])
mean_temperature = np.mean(temperatures)
print("Mean Temperature:", mean_temperature)

Mean Temperature: 37.1

5. Numpy Array of Patients' Weight in Kg

In [8]:
weights = np.array([60, 72, 65, 58, 82, 75, 70, 68, 66, 80])
reversed_weights = weights[::-1]
print("Reversed Weights:", reversed_weights)

Reversed Weights: [80 66 68 70 75 82 58 65 72 60]

## Two-Dimensional Numpy

6. 3x3 Numpy Array

In [9]:
patient_data = np.array([[25, 70, 120],
                         [30, 80, 130],
                         [40, 85, 140]])
# Access blood pressure of the second patient (index 1, column 2)
second_patient_bp = patient_data[1, 2]
print("Blood Pressure of the second patient:", second_patient_bp)

Blood Pressure of the second patient: 130

10. 2D Numpy Array of 4x4

In [10]:
# 2. 4x4 Blood Test Results Array
blood_tests = np.array([[5.6, 7.1, 6.2, 5.8],
                        [5.3, 6.9, 7.0, 6.5],
                        [5.7, 6.5, 6.8, 6.0],
                        [5.4, 7.0, 6.5, 5.9]])
# Sum across rows
row_sums = blood_tests.sum(axis=1)
print("Sum of test results across each row:", row_sums)

Sum of test results across each row: [24.7 25.7 25.  24.8]

15. Numpy Array of Blood Sugar Levels

In [11]:
blood_sugar = np.array([[80, 85, 90],
                        [95, 92, 88],
                        [85, 83, 82],
                        [100, 105, 110],
                        [75, 78, 80]])
# Average blood sugar level for the 3rd patient (index 2)
average_blood_sugar_patient3 = blood_sugar[2].mean()
print("Average blood sugar for the 3rd patient:", average_blood_sugar_patient3)

Average blood sugar for the 3rd patient: 83.33333333333333

21. Matrix for Patient BMI

In [12]:
bmi_values = np.array([[22.1, 23.5],
                       [27.8, 28.0],
                       [21.2, 20.9]])
weights = np.array([60, 70, 80])
# Element-wise multiplication
bmi_weight_multiplication = bmi_values * weights[:, np.newaxis]
print("Element-wise BMI and weight multiplication:\n", bmi_weight_multiplication)

Element-wise BMI and weight multiplication:
 [[1326. 1410.]
 [1946. 1960.]
 [1696. 1672.]]

25. 2x5 Numpy Array Temprature Data

In [13]:
temperatures = np.array([[37.0, 36.5, 37.1, 36.9, 37.0],
                         [36.8, 37.3, 37.0, 36.7, 37.2]])
# Maximum temperature for each patient
max_temperatures = temperatures.max(axis=1)
print("Maximum temperatures for each patient:", max_temperatures)

Maximum temperatures for each patient: [37.1 37.3]

#Day 2: Pandas in Healthcare

## Series

1. Panda Series for Blood Pressure

In [14]:
import pandas as pd
bp_readings = pd.Series([120, 130, 140, 135, 125])
print("Blood Pressure - Max:", bp_readings.max(), "Min:", bp_readings.min())

Blood Pressure - Max: 140 Min: 120

2. Panda Series for Cholesterol Levels

In [15]:
cholesterol = pd.Series([210, 180, 220, 250, 280, 230])
cholesterol_above_240 = cholesterol[cholesterol > 240]
print("Cholesterol levels > 240:", cholesterol_above_240.tolist())

Cholesterol levels > 240: [250, 280]

3. Panda Series For Ages

In [16]:
ages = pd.Series([35, 40, 25, 30, 45, 50, 55, 60, 65, 70])
print("Median Age:", ages.median())

Median Age: 47.5

4. Panda Series for Weight

In [17]:
# 4. Weight Measurements
weights = pd.Series([70, 80, 75, 65, 85])
updated_weights = weights + 5
print("Updated Weights:", updated_weights.tolist())

Updated Weights: [75, 85, 80, 70, 90]

5. Panda Series for Temprature

In [18]:
# 5. Temperature Readings
temperatures = pd.Series([37.2, 36.8, 37.5, 38.0, 36.6, 37.1, 36.9, 37.3, 37.4, 37.0])
print("Average Temperature:", round(temperatures.mean(), 2))

Average Temperature: 37.18

## DataFrame

6. DataFrame with Patient Data

In [ ]:
# 6. Patient Data with Cholesterol > 220
data = {
    'Name': ['John', 'Jane', 'Tom', 'Alice'],
    'Age': [28, 34, 45, 52],
    'Blood Pressure': [120, 130, 140, 150],
    'Cholesterol': [200, 220, 240, 260]
}
df = pd.DataFrame(data)
high_cholesterol_patients = df[df['Cholesterol'] > 220]
print("Patients with cholesterol > 220:\n", high_cholesterol_patients)

Patients with cholesterol > 220:
     Name  Age  Blood Pressure  Cholesterol
2    Tom   45             140          240
3  Alice   52             150          260

11. Add Column for BMI

In [ ]:
# BMI Calculation
patient_info = pd.DataFrame({
    'Name': ['John', 'Jane', 'Tom', 'Alice'],
    'Age': [28, 34, 45, 52],
    'Height': [1.75, 1.68, 1.80, 1.60],
    'Weight': [70, 65, 80, 72],
    'Blood Pressure': [120, 130, 140, 150]
})
patient_info['BMI'] = patient_info['Weight'] / (patient_info['Height'] ** 2)
print("Patient Data with BMI:\n", patient_info)

Patient Data with BMI:
     Name  Age  Height  Weight  Blood Pressure        BMI
0   John   28    1.75      70             120  22.857143
1   Jane   34    1.68      65             130  23.030045
2    Tom   45    1.80      80             140  24.691358
3  Alice   52    1.60      72             150  28.125000

12. DataFrame with Patients Blood Results

In [ ]:
# Filter Test Results > 6.0
test_results = pd.DataFrame({
    'Test ID': [1, 2, 3, 4],
    'Patient Name': ['John', 'Jane', 'Tom', 'Alice'],
    'Result': [5.6, 6.1, 5.8, 6.3]
})
high_test_results = test_results[test_results['Result'] > 6.0]
print("Patients with test results > 6.0:\n", high_test_results)

Patients with test results > 6.0:
    Test ID Patient Name  Result
1        2         Jane     6.1
3        4        Alice     6.3

16. Average of each Column

In [ ]:
# 9. Average Age, Weight, and Height
age_weight_height = pd.DataFrame({
    'Age': [25, 30, 35, 40, 45],
    'Weight': [70, 75, 80, 85, 90],
    'Height': [1.60, 1.65, 1.70, 1.75, 1.80]
})
print("Mean of Age, Weight, Height:\n", age_weight_height.mean())

Mean of Age, Weight, Height:
 Age       35.0
Weight    80.0
Height     1.7
dtype: float64

17. DataFrame with Treatment Details

In [ ]:
# 10. Filter "Surgery" Treatment Records
treatment_data = pd.DataFrame({
    'Patient Name': ['John', 'Jane', 'Tom', 'Alice'],
    'Treatment Type': ['Surgery', 'Consultation', 'Surgery', 'Consultation'],
    'Treatment Date': ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01']
})
surgery_records = treatment_data[treatment_data['Treatment Type'] == 'Surgery']
print("Surgery Treatment Records:\n", surgery_records)

Surgery Treatment Records:
   Patient Name Treatment Type Treatment Date
0         John        Surgery     2022-01-01
2          Tom        Surgery     2022-03-01